<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="outsourced-form" class="form-container">
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

<p><input type="text" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

    <p th:text="${errorMessage}">1</p>
    <p><input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4" min="1"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}" class="error-message">Inventory Error: Please check the inventory range.</p>

    <p><input type="text" th:field="*{companyName}" placeholder="Company Name" class="form-control mb-4 col-4"/></p>


    <div class="form-group">
        <label for="minInv">Minimum Inventory</label>
        <input type="number" class="form-control" id="minInv" th:field="*{minInv}" placeholder="Enter minimum inventory" min="1" required>
    </div>
    <div class="form-group">
        <label for="maxInv">Maximum Inventory</label>
        <input type="number" class="form-control" id="maxInv" th:field="*{maxInv}" placeholder="Enter maximum inventory" min="1"  required>
    </div>

    <p><input type="submit" value="Submit" /></p>
    <p>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul ><li  th:each="err: ${#fields.allErrors()}" th:text="${err}" th:class="error-message"></li></ul>
    </div>
    </p>
</form>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</div>
</body>
</html>